/* header.html */
.login_header {
  text-align: right;
}

.logout_header {
  text-align: right;
}

.user_icon {
  width: 45px;
  height: 45px;
}

.top_content {
  text-align: center;
}

/* chat_room.html */
#input_message_form {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#input_message {
  width: 500px;
}