{% extends 'chat_app/header.html' %}

{% block content %}
    <!-- エンターキーによるボタン押下を行うために、<button>ではなく<form>と<input type="submit">を使用。
    ボタン押下(=submit)時にページリロードが行われないように、onsubmitの設定の最後に"return false;"を追加。-->
    <form method="post" action="" id="input_message_form" onsubmit="onsubmitButton_Send(); return false;">
        <input type="text" id="input_message" autocomplete="off" autofocus /><input type="submit" value="送信" />
    </form>

    <table id="list_table"></table>

    <script>
        const g_elementInputMessage = document.getElementById("input_message");

        const g_elementTable = document.getElementById("list_table");
        var username = "{{ request.user.username }}";
  
        // WebSocketオブジェクト
        let ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        const g_socket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/chat/");

        // 「Send」ボタンを押したときの処理
        function onsubmitButton_Send()
        {

            // 送信用テキストHTML要素からメッセージ文字列の取得
            let strMessage = g_elementInputMessage.value;
            if (!strMessage)
            {
                return;
            }
  
            // WebSocketを通したメッセージの送信
            g_socket.send(JSON.stringify({"message": username + " " + strMessage}));
  
            // 送信用テキストHTML要素の中身のクリア
            g_elementInputMessage.value = "";
        }
  
        // WebSocketからメッセージ受信時の処理
        g_socket.onmessage = (event) =>
        {
            // テキストデータをJSONデータにデコード
            let data = JSON.parse(event.data);
  
            // メッセージの整形
            let strMessage = data["message"];
  
            // 拡散されたメッセージをメッセージリストに追加
            let elementTr = document.createElement("tr");
            let elementTd3 = document.createElement("td");
            
            elementTr.appendChild(elementTd3)
            g_elementTable.appendChild(elementTr)

            elementTd3.textContent = strMessage;
        };
  
        // WebSocketクローズ時の処理
        g_socket.onclose = ( event ) =>
        {
            // ウェブページを閉じたとき以外のWebSocketクローズは想定外
            console.error("Unexpected : Chat socket closed.");
        };
    </script>
{% endblock %}