{% extends 'chat_app/header.html' %}
{% load static %}

{% block content %}
    <form method="post" action="" id="input_message_form" onsubmit="onsubmitButton_Send(); return false;">
        <input type="text" id="input_message" autocomplete="off" autofocus /><input type="submit" value="送信" />
    </form>
    {% for object in objects_list %}
    <table>
        <tr>
            <td><img class="user_icon" src="{% static object.icon %}">{{ object.username }} {{ object.register_datetime | date:'Y年m月d日 H:i:s' }}</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ object.message }}</td>
        </tr>
    </table>
    {% endfor %}

    <table id="list_table"></table>

    <script>
        const g_elementInputMessage = document.getElementById("input_message");
        const g_elementTable = document.getElementById("list_table");
        var username = "{{ request.user.username }}";
        var user_icon = "{{ request.user.icon }}";

        // WebSocketオブジェクト
        let ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        const g_socket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/chat/");

        // 「Send」ボタンを押したときの処理
        function onsubmitButton_Send()
        {

            // 送信用テキストHTML要素からメッセージ文字列の取得
            let strMessage = g_elementInputMessage.value;
            if (!strMessage)
            {
                return;
            }
  
            // WebSocketを通したメッセージの送信
            g_socket.send(JSON.stringify({"message": user_icon + " " + username + " " + strMessage}));
  
            // 送信用テキストHTML要素の中身のクリア
            g_elementInputMessage.value = "";
        }
  
        // WebSocketからメッセージ受信時の処理
        g_socket.onmessage = (event) =>
        {
            // テキストデータをJSONデータにデコード
            let data = JSON.parse(event.data);
  
            // メッセージの整形
            let icon = "/static/" + data["icon"];
            let username = data["username"];
            let strMessage = data["message"];
            let register_datetime = data["register_datetime"];

            // テーブル内要素を作成
            let elementTr = document.createElement("tr");
            let elementTr2 = document.createElement("tr");
            let elementTd = document.createElement("td");
            let elementTd2 = document.createElement("td");
            let elementTd3 = document.createElement("td");
            let elementImg = document.createElement("img");

            // アイコン表示用
            elementImg.src = icon;
            elementImg.className = "user_icon";
            elementTd.appendChild(elementImg);
            elementTr.appendChild(elementTd);

            // ユーザー名、投稿日時表示用
            elementTd2.textContent = username + " " + register_datetime;
            elementTr.appendChild(elementTd2);

            elementTd3.textContent = "          " + strMessage;
            elementTr2.appendChild(elementTd3);

            g_elementTable.appendChild(elementTr);
            g_elementTable.appendChild(elementTr2);
        };
  
        // WebSocketクローズ時の処理
        g_socket.onclose = (event) =>
        {
            // ウェブページを閉じたとき以外のWebSocketクローズは想定外
            console.error("Unexpected : Chat socket closed.");
        };
    </script>
{% endblock %}